<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="de.db12.common.db.mapper.ContactMapper">

	<resultMap type="Contact" id="contactMap">
		<id column="id" property="id" />
		<result column="first_name" property="firstName" />
		<result column="last_name" property="lastName" />
		<result column="created" property="created" />
		<result column="address" property="address" />
	</resultMap>

	<resultMap type="Contact" id="contactProfileMap">
		<id column="id" property="id" />
		<result column="first_name" property="firstName" />
		<result column="last_name" property="lastName" />
		<result column="created" property="created" />
		<result column="address" property="address" />
		<association property="profile" column="profile_id" javaType="Profile"
			resultMap="de.db12.common.db.mapper.ProfileMapper.profileResult" />
	</resultMap>

	<select id="selectAllWithProfile" parameterType="int" resultMap="contactProfileMap">
		SELECT
		c.id,
		c.first_name,
		c.last_name,
		c.created,
		c.address,
		p.id,
		p.profilename,
		p.level
		FROM
		contact c left outer
		join Profile p on c.profile_id = p.id 
		<include refid="where" />
	</select>

	<sql id="select">
		SELECT
		id,
		first_name,
		last_name,
		created,
		address
		FROM
		contact
    </sql>

	<sql id="where">
		WHERE
		id = #{id}
    </sql>
	<select id="getById" parameterType="java.lang.Integer" resultMap="contactMap">
		<include refid="select" />
		<include refid="where" />
	</select>

	<select id="selectAll" resultMap="contactMap">
		<include refid="select" />
	</select>

	<select id="selectAllOrdered" parameterType="java.lang.String" resultMap="contactMap">
		<include refid="select" />
		ORDER BY ${colname}
	</select>


	<insert id="add" parameterType="Contact">
		INSERT INTO
		contact (
		first_name,
		last_name,
		created,
		address
		)
		VALUES (
		#{firstName},
		#{lastName},
		#{created,
		jdbcType=TIMESTAMP},
		#{address, jdbcType=VARCHAR}
		)
		<selectKey order="AFTER" resultType="int" keyProperty="id">
			CALL IDENTITY()
        </selectKey>
	</insert>

	<update id="update" parameterType="Contact">
		UPDATE
		contact
		SET
		first_name = #{firstName},
		last_name = #{lastName}
		<include refid="where" />
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM
		contact
		<include refid="where" />
	</delete>

</mapper>
